body {
    padding: 0;
    margin: 0;
    background-color: #121212;
}

.banner {
    background-color: darkorange;
    height: 125px;
}

.sitename {
    font-size: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 25px;
    font-style: italic;
}

.linksbar {
    background-color:#333333;
    height: 40px;
    font-size: 30px;
}

a {
    margin-left: 20px;
}

a:link {
    color: red;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.main {
    color: antiquewhite;
}

h1 {
    text-align: center;
}

.review {
    display: grid;
    grid-template-columns: auto auto;
    border: 2px solid #555555;
    background-color: darkorange;
    width: 600px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

.review img {
    display: block;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: 20px;
    border: 1px solid grey;
}

.title {
    display: grid;
    padding-left: 10px;
    grid-template-columns: auto;
    text-align: center;
    color:#252525;
}

.blurb {
    border: 20px solid darkorange;
    background-color: #252525;
    font-size: 20px;
}

.review p {
    padding: 20px;
}